@import "defaults";
@import "mixins";

.main.christmas {
  background: url(./christmas.svg) no-repeat center;
  background-size: contain;
}

.main.easter {
  background: url(./easter.svg) no-repeat center;
  background-size: contain;
}

.main.summer {
  background: url(./summer.svg) no-repeat center;
  background-size: contain;
}

.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(81, 81, 255), rgb(160, 160, 255));
  overflow: hidden;

  // Event Form
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 30vh;

    &__label {
      font-size: 2.5rem;
      color: #fff;
      text-shadow: 1px 1px 3px #000;
      padding: 1rem;
      letter-spacing: .1rem;
      font-weight: bold;
      text-align: center;
    }

    &__select-container {
      position: relative;
      width: 15rem;
      height: 3rem;

      &::before {
        content: "\25BC";
        font-size: 1.2rem;
        position: absolute;
        z-index: 1;
        pointer-events: none;
        top: 50%;
        left: 95%;
        transform: translate(-95%, -50%);
      }

      &__select {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        outline: none;
        appearance: none;
        border: none;
        border-radius: .5rem;
        background: rgba(255, 255, 255, .3);
        color: #fff;
        text-shadow: 0 0 3px #000;
        cursor: pointer;
      }
    }
  }

  // Timer
  &__timer-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__timer {
      text-align: center;
      font-size: 2rem;
      color: #fff;
      text-shadow: 1px 1px 3px #000;
      padding: .5rem;

      &__days {
        font-size: 3.5rem;
        font-weight: bold;
        letter-spacing: .1rem;
      }

      &__hours {
        font-size: 3.5rem;
        font-weight: bold;
        letter-spacing: .1rem;
      }

      &__minutes {
        font-size: 3.5rem;
        font-weight: bold;
        letter-spacing: .1rem;
      }

      &__event {
        display: block;
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: .2rem;
      }
    }
  }
}